.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}


.solution{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}